

{% extends "main/header.html"%}
{% load static %}

{% block content %}

<div class="question_template" hidden>
	<label for="new_question" class="question_label">Question: </label>
	<input type="text" name="new_question" class="new_question">
</div>

<form class="assignment_form" action="/new_assignment/" method="POST">
	{% csrf_token %}
	<label for="assignment_name">Name: </label>
	<input type="text" name="assignment_name" class="assignment_name">

	<label for="due_date">Due date: </label>
	<input type="datetime-local" name="due_date" class="due_date">

	<div id="questions">

	</div>
	<div class="add_questions">
		<a class="waves-effect waves-light btn-large" onclick="add_question()">Add Question</a>
	</div>
	<button class="btn"type="submit">Create Assignment</button>
</form>
{% endblock %}
